body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.836), rgba(0, 0, 0, 0.733)) , url(./images/login-bg.jpg);
    height: 100vh;
}
.login-top{
    width: 100vw;
    height: 110px;
    background-color: rgba(0, 0, 0, 0);
    padding: 0px 20px;
    display: flex;
    align-items: center;
}

.login-top img{
    width: 150px;
}


.login-box{
    background-color: rgba(110, 49, 179, 0.342);
    width: 430px;
    height: 630px;
    border-radius: 5px;
    padding: 50px;
}

.small-text{
    font-size: 13px;
}

.form-control{
    box-shadow: none !important;
}

.comic-reader {
    display: flex;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.comic-page {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.comic-page img {
    width: 100%;
    height: auto;
}

.navigator {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#nextButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
