body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.836), rgba(0, 0, 0, 0.733)) , url(./images/login-bg.jpg);
    height: 100vh;
}
.login-top{
    width: 100vw;
    height: 110px;
    background-color: rgba(0, 0, 0, 0);
    padding: 0px 20px;
    display: flex;
    align-items: center;
}

.login-top img{
    width: 150px;
}


.login-box{
    background-color: rgba(110, 49, 179, 0.342);
    width: 430px;
    height: 630px;
    border-radius: 5px;
    padding: 50px;
}

.small-text{
    font-size: 13px;
}

.form-control{
    box-shadow: none !important;
}

body {
    margin: 0;
    background-color: #141414;
}

.comic-reader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1000vh;
    padding: 50px;
}

.page-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.page {
    border: 2px solid #fff; /* Add a border around the pages */
    position: relative;
    flex: 1; /* Allow pages to take equal space */
    margin: 0 10px;
}

.page img {
    width: 100%; /* Make images responsive */
    height: auto; /* Maintain aspect ratio */
}

.page-indicator {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
    border-radius: 5px;
}

.next-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0C0C0C;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.next-button:hover {
    background-color: #1c1c1c;
}
