body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.836), rgba(0, 0, 0, 0.733)), url(./images/login-bg.jpg);
    height: 100vh;
}

.login-top {
    width: 100vw;
    height: 110px;
    background-color: rgba(0, 0, 0, 0);
    padding: 0px 20px;
    display: flex;
    align-items: center;
}

.login-top img {
    width: 150px;
}

.login-box {
    background-color: rgba(110, 49, 179, 0.342);
    width: 430px;
    height: 630px;
    border-radius: 5px;
    padding: 50px;
}

.small-text {
    font-size: 13px;
}

.form-control {
    box-shadow: none !important;
}

.comic-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.comic-page {
    width: 1000%;
    max-width: 600px; /* Set a max width for the comic page */
    margin-bottom: 20px;
    position: relative;
}

.comic-page img {
    width: 100%;
    height: auto;
    border: 2px solid #ccc;
}

.page-indicator {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    margin: 20px 0;
}

.navigation-buttons button {
    background-color: #6200ea;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navigation-buttons button:hover {
    background-color: #3700b3;
}

button:disabled {
    background-color: gray;
    cursor: not-allowed;
}